@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces', Times New Roman, serif;
    font-weight: bold;
}

p, .plotText {
    font-family: 'Commissioner', Arial, sans-serif;
}

.code {
    font-family: monospace
}

a {
    color: #508080;
}

a:hover {
    color: #E30B5C;
}

html, body {
    height: 100%;
}

body {
    background-color: #F0F5F5;
    color: #2F4F4F;
}

main {
    padding-bottom: 40px !important;
}

.title {
    padding-top: 20px
}

.center {
    text-align: center;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -40px; 
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 40px; 
}

.row .col-12 {
    padding-bottom: 0px;
    padding-top: 20px;

}

div.resize {
    max-width: 800px;
    margin: auto;
}

#palette-dropdown, #file-dropdown {
    width: 200px;
    font-size: large;
    border-radius: 5px;
    background-color: white;
    border-color: #508080;
    border-width: 2px;
    margin-left: 5px;
}
